<header>
    <div class="demo">
       <div class="content">
          <div id="large-header" class="large-header">
             <canvas id="demo-canvas"></canvas>
             <h1 class="main-title"><span class="thin">Exciting</span> Quotes</h1>
          </div>
       </div>
    </div>
</header>
