<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get Your Quotes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="MommyPokko" content="Carparks in Singapore">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <!-- Bootstrap use atm -->

    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script  src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js' defer></script>
    <script  src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js' defer></script>
    <script  src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js' defer></script>

</head>

<body>

<% include header %>


<!-- Insert Body here -->
<div class="container">
<% include carpark/form %>
</div><!-- /.container -->

<% include footer %>

</body>
</html>
