
<style>

#doctable{
  font-size: 14px

}

#docheader{
  background-color: red

}

</style>


  <table class="table table-hover" id="doctable">

    <thead >
      <td>Get</td>
      <tr >
        <th>Fields</th>
        <th>Type</th>
        <th>Description</th>
      </tr>

          </thead>

    <tbody>
      <tr>
        <td>Address</td>
        <td>String</td>
        <td>Addresses of carparks in Singapore</td>
      </tr>
      <tr>
        <td>Carpark Type</td>
        <td>String</td>
        <td>Identify HDB, private and URA carkparks</td>
      </tr>
      <tr>
        <td>Carpark Rates</td>
        <td>Number</td>
        <td>Price of carparks</td>
      </tr>
    </tbody>
  </table>
</div>
