<script type="text/javascript">
  $(document).ready(function(){
    $('#get-descriptions').on('click', function(){
      $('#doctable').toggle()

    })
  })
</script>



<style>

#doctable{
  font-size: 14px

}

#docheader{
  background-color: red

}

.link-to-api{
  margin: 5px;
  text-decoration: none;
}

#get-descriptions{
  margin: 5px;
}

</style>

<div class="container col-md-10 col-md-offset-1">
  <button type="button" name="button" class="btn btn-info col-md-3"  id="get-descriptions">Get Descriptions</button>
  <a href="/carparks/locations" class="link-to-api col-md-2">API get: /carparks/locations</a>
</div>



  <table class="table table-hover" id="doctable">

    <thead >
      <tr >
        <th>Fields</th>
        <th>Types</th>
        <th>Description</th>
      </tr>
          </thead>
    <tbody>
      <tr>
        <td>Address</td>
        <td>String</td>
        <td>Addresses of carparks in Singapore</td>
      </tr>
      <tr>
        <td>Carpark Type</td>
        <td>String</td>
        <td>Identify HDB, private and URA carkparks</td>
      </tr>
      <tr>
        <td>Carpark rate from 0700hrs to 2230hrs (Weekdays)</td>
        <td>String</td>
        <td>Retrieves the rates for the timings on weekdays</td>
      </tr>
      <tr>
        <td>Carpark rate from 2230hrs to 0700hrs (Weekdays)</td>
        <td>String</td>
        <td>Retrieves the rates for the timings on weekdays</td>
      </tr>
      <tr>
        <td>Carpark rate from 0700hrs to 2230hrs (Saturday)</td>
        <td>String</td>
        <td>Retrieves the rates for the timings on Saturday</td>
      </tr>
      <tr>
        <td>Carpark rate from 2230hrs to 0700hrs (Saturday)</td>
        <td>String</td>
        <td>Retrieves the rates for the timings on Saturday</td>
      </tr>
      <tr>
        <td>Carpark rate from 0700hrs to 2230hrs (Sunday)</td>
        <td>String</td>
        <td>Retrieves the rates for the timings on Sunday</td>
      </tr>
      <tr>
        <td>Carpark rate from 2230hrs to 0700hrs (Sunday)</td>
        <td>String</td>
        <td>Retrieves the rates for the timings on Sunday</td>
      </tr>
    </tbody>
  </table>
