<div id="custom-search-input">
<div class = "input-group col-md-12">

<form>
  <input type="text" class="form-control input-lg" placeholder="address">
</form>

  <span class="input-group-btn">
<button class="btn btn-info btn-lg" type="button">

  <i class="glyphicon glyphicon-search">
  </i>

    <span>
</div>
</div>

<body>
<br>
<div class="search results col-md-12">


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Carpark Address</th>
        <th>Type</th>
        <th>Weekday <br>7am-10.30pm ($)</br></th>
        <th>Weekday <br>10.30pm-7am ($)</br></th>
        <th>Saturday <br>7am-10.30pm ($)</br></th>
        <th>Saturday <br>10.30pm-7am ($)</br></th>
        <th>Sunday <br>7am-10.30pm ($)</br></th>
        <th>Sunday <br>10.30pm-7am ($)</br></th>
      </tr>
    </thead>
    <tbody id="search-results">
    </tbody>
  </table>
</div>

</body>
